/*Float*/
.image1 {
	float: left;
	height: 100px;
}
.test1 {
	float: right;
	width: 500px;
}
.clear {
	clear: both;
}
.wraper::after {
	content: '';
	clear: both;
	display: block;
}
/*gamyopi xazi*/
.p-test::after {
	content: '';
	width: 3px;
	height: 30px;
	background-color: green;
	display: inline-block;
	margin-left: 30px;
}


.bg-image {
	background-image: url('../img/image.jpg');
	height: 500px;
	width: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right; 
	/*background-attachment:fixed;*/
}